.active-tab{
color: black;  
position: relative;  
}
.active-tab::before{
    content: "";
    position: absolute;
    background-color: #1B72E7;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
}

