// .table-wrapper{
//     @apply table w-[120px]
// }
// .table-heading{
//     @apply table w-[100%] table-fixed

// }
// .table-row{
//     @apply table w-[100%]  table-fixed

// }
// .table-data{
//     @apply text-center w-[10rem]
// }
// .table-head{
//     @apply   text-center w-[10rem]
// }

table{
    margin-top:  40px;
    display: table;
   
}
tr{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 90px;
   border-bottom:  1px solid #EDEFF5;
    // align-items: center;
}
 thead{
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 50px;
    background-color: #F8F8F8;
}

td, th{
    text-align: center;
    width: 10rem;
}
.success{
    background-color: rgba(21, 163, 54, 0.1);
}