.Wrapper{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 30rem 1fr;
}
.final-div{
  background-color: rgba(27, 114, 231, 0.08);
}
.percentage-arrow{
  background-color: rgba(100, 200, 188, 0.1);
}
.red-percentage-arrow{
  background-color: rgba(235, 0, 0, 0.08)
}
